*{
    font-family: 'Black Han Sans', sans-serif;
}
/* clases */
.wrapper {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}
.galeria {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    justify-content: flex-start;
    gap: 1rem;
}
.center {
    text-align: center;
}
.bordes {
    border: 2px solid black;
    border-radius: 0.4rem;
}

.derecha {
    display: block;
    text-align: right;
}


/* por partes*/

/*nav*/
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: beige ;
    padding:1rem 1.5rem;
}
nav .logo {
    font-weight: 700;
}
nav img {
    width: 3rem;
    height: 3rem;
    border-radius: 00.2rem;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}
nav a {
    text-decoration: none;
    color: black;
}
nav #toggle,nav label {
    display: none;
}
@media (max-width: 480px) {
    nav .menu {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    nav ul {
        flex-direction: column;
        align-items: center;
        padding: 0.5 rem;
    }
    nav label {
        right: 0;
        display: flex;
        color: black;
        cursor: pointer;
    }
    nav #toggle:checked .menu {
        height: 100%;
    }
}



/*otros*/
h1{
    text-decoration: underline black;
}
div input {
    display: flex;
}

div img {
    width: 100%;
    height: 60%;
    border: 2px;
}

section {
    display: flex;
    background-image: url(../images/alianzas.jpg);
    background-size: contain;

}





/* form */
form {
    background-color: beige;
    border-radius: 1rem;
    padding: 1rem;
}
form div{
    background-color:rgba(156, 123, 123, 0.041);
    color: black;
    gap: 1rem;
    padding: 01.5rem;
    border-radius: 1rem;
    margin: 2%;
}
form button {
    margin-top: 00.2rem;
    padding: 0.2rem;
    border-radius: 12px ;
    background-color: black;
    color: white;
}


/*footer */
footer {
    background-color: black;
}
footer ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly ;
    position: relative;
}

footer img {
    width: 50px;
    height: 50px;
}